<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elige un juego...</title>
</head>
<body>
    <div align="center" class="titulo"><p>Elige un juego...</p></div>

    <div class="container">
        <div align="center" class="col-12">
            <img class="col-4" src="../../../assets/anagrama.png" width="20%" height="20%">
            <a href="../ppt"><img class="col-4" src="../../../assets/ppt.png" width="20%" height="20%"></a>
            <img class="col-4" src="../../../assets/AA.png" width="30%" height="30%">
        </div>
        <div align="center" class="col-12">
                <img class="col-2" src="../../../assets/anagrama.png" width="20%" height="20%">
                <img class="col-2" src="../../../assets/ppt.png" width="20%" height="20%">
                <img class="col-2" src="../../../assets/AA.png" width="30%" height="30%">
            </div>
    </div>
</body>
</html>
