
button {
    border: none;
    background: #893a99;
    color: rgba(255,255,255,0.3);
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    }

button:before {
    content:â€;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 42px;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    transition: all 2s ease;
    }

button:hover {
    background: rgba(0,0,0,0);
    color: #893a99;
    box-shadow: inset 0 0 0 3px #893a99;
    }


button{
    padding: 10px 35px;
    overflow:hidden;
    }

button:before {
    font-family: FontAwesome;
    content:">>";
    position: absolute;
    top: 11px;
    left: -30px;
    transition: all 200ms ease;
    }
        
button:hover:before {
    left: 7px;
    }

input{
    background-color: #e2d6e7;
}

span{
    background-color: #dbbfe0b6;
}

body{
    height:657px;
    display: flex;
  flex-direction: column;
    background-image: url(../../../assets/fondox.png);
}

.error{
    color: #a700c9;
    font-weight: 700;
    font-family: fantasy; 
}

.invalid{
    color: #a700c9;
    font-weight: 700;
    font-family: fantasy; 
    font-size: 20px;
}
